*.gem
*.rbc
.bundle
.config
.yardoc
.idea
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*.log
*.jmx
*.jtl
*.bak
.byebug_history
.DS_Store
jmeter_output/
